<!DOCTYPE html>
<html>
<heade>
    <meta charset="utf-8">
    <title>Об этой странице</title>
</heade>

<body>
    {{> header}}
    <p>Это приложение реально поможет сделать тебе выбор</p>
    {{> footer }}
</body>

</html>